#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.titleColorSelectorHideContainer {
  align-self: flex-end;
  justify-self: center;
}

.titleColorSelectorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  min-height: 100vh;
  background: white;
}